#showcase{
    height: 80vh;
}

#showcase .showcase-content .showcase-heading{
    text-align: left;
    font-family: Poppins , sans-serif;
    font-size: 50px;
    letter-spacing: 0;
    color: #242424;
}

#showcase .showcase-content .showcase-lead{
    text-align: left;
    font: Regular 26px/41px Poppins;
    letter-spacing: 0;
    color: #242424;
    opacity: 0.5;
}



@media screen and (max-width: 568px){
    #showcase .showcase-content .showcase-heading,
    #showcase .showcase-content .showcase-lead{
        text-align: center;
    }

    #showcase .showcase-content .showcase-btn{
        display: block;
        max-width: fit-content;
        margin: 0 auto;
    }
}