.showcase-img{
    position: absolute;
    top:0;
    right:0;
    background: url('../../img/img1.png') no-repeat center center/cover;
    opacity: .84;
    height: 100vh;
    width:100%;
    z-index: -999;
    clip-path: circle(50% at 83% 13%);
}

@media screen and (max-width: 568px){
    .showcase-img{
        /* Add the blur effect */
        filter: blur(9px);
        -webkit-filter: blur(9px);
        clip-path: none;
    }
}